.App {
  text-align: center;
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  margin: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-row {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.App-link {
  color: #61dafb;
}

.Messages {
  height: 75vh;
  overflow-y: scroll;
}

.Messages::-webkit-scrollbar {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
