.App {
  text-align: center;
  background-color: #282c34;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  margin: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-row {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.App-link {
  color: #61dafb;
}

.Messages {
  height: 75vh;
  overflow-y: scroll;
}

.message {
  font-size: 18px;
}

.timeStamp {
  font-size: 12px;
}

.messageBubble {
  background-color: #282c34;
  border: 1px solid gray;
  border-radius: 20px;
  margin: 50px;
}

.textContainer {
  position: fixed;
  width: 40%;
  height: 20px;
  left: 55%;
  top: 87%;
  margin-left: -25%;
}

.writeField {
  background-color: rgb(23, 23, 28);
  width: 100%;
  display: flex;
  font-size: 18px;
}

.textInput {
  background-color: transparent;
  margin: 0;
  width: 80%;
  padding-left: 20px;
  padding-top: 20px;
  resize: none;
	color: inherit;
	border: none;
	font: inherit;
	outline: inherit;
}

.sendButton {
  width: 20%;
  background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.sendButton:hover {
  color: rgb(0, 255, 0);
  background-color: rgba(0, 0, 0, 0.193);
  transition: smooth;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
